# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Vector DB (usually too large for git)
chroma_db/

# OS
.DS_Store
Thumbs.db

# Backend Uploads
backend/uploads/
env
